<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>AQL (ArangoDB)</string>
	<key>BBLMLanguageCode</key>
	<string>AQL</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.aql</string>
		</dict>
	</array>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>BBLMReferenceSearchURLTemplate</key>
	<string>https://docs.arangodb.com/latest/AQL/</string>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMCommentLineDefault</key>
	<string>// </string>
	<key>BBLMCommentPrefixDefault</key>
	<string>/* </string>
	<key>BBLMCommentSuffixDefault</key>
	<string> */</string>
	<key>Language Features</key>
	<dict>
		<key>Open Strings 1</key>
		<string>&apos;</string>
		<key>Open Strings 2</key>
		<string>&quot;</string>
		<key>Close Strings 1</key>
		<string>&apos;</string>
		<key>Close Strings 2</key>
		<string>&quot;</string>
		<key>Identifier and Keyword Character Class</key>
		<string>-a-zA-Z0-9_</string>
		<key>Open Block Comments</key>
		<string>/*</string>
		<key>Close Block Comments</key>
		<string>*/</string>
		<key>Open Line Comments</key>
		<string>//</string>
	</dict>
	<key>BBLMKeywords</key>
	<array>
		<dict>
			<key>RunKind</key>
			<string>com.barebones.bblm.keyword</string>
			<key>Keywords</key>
			<array>
                <string>aggregate</string>
                <string>all</string>
                <string>and</string>
                <string>any</string>
                <string>asc</string>
                <string>collect</string>
                <string>desc</string>
                <string>distinct</string>
                <string>filter</string>
                <string>for</string>
                <string>graph</string>
                <string>in</string>
                <string>inbound</string>
                <string>insert</string>
                <string>into</string>
                <string>k_shortest_paths</string>
                <string>let</string>
                <string>like</string>
                <string>limit</string>
                <string>none</string>
                <string>not</string>
                <string>options</string>
                <string>or</string>
                <string>outbound</string>
                <string>prune</string>
                <string>remove</string>
                <string>replace</string>
                <string>return</string>
                <string>search</string>
                <string>shortest_path</string>
                <string>sort</string>
                <string>update</string>
                <string>upsert</string>
                <string>with</string>
			</array>
		</dict>
		<dict>
			<key>RunKind</key>
			<string>com.barebones.bblm.predefined-symbol</string>
			<key>Keywords</key>
			<array>
                <string>abs</string>
                <string>acos</string>
                <string>analyzer</string>
                <string>append</string>
                <string>apply</string>
                <string>asin</string>
                <string>assert</string>
                <string>assert</string>
                <string>atan</string>
                <string>atan2</string>
                <string>attributes</string>
                <string>average</string>
                <string>boost</string>
                <string>call</string>
                <string>ceil</string>
                <string>char_length</string>
                <string>check_document</string>
                <string>collections</string>
                <string>concat_separator</string>
                <string>concat</string>
                <string>contains</string>
                <string>cos</string>
                <string>count_distinct</string>
                <string>count_distinct</string>
                <string>count</string>
                <string>crc32</string>
                <string>current_database</string>
                <string>current_user</string>
                <string>date_add</string>
                <string>date_compare</string>
                <string>date_day</string>
                <string>date_dayofweek</string>
                <string>date_dayofyear</string>
                <string>date_days_in_month</string>
                <string>date_diff</string>
                <string>date_format</string>
                <string>date_hour</string>
                <string>date_iso8601</string>
                <string>date_isoweek</string>
                <string>date_leapyear</string>
                <string>date_localtoutc</string>
                <string>date_millisecond</string>
                <string>date_minute</string>
                <string>date_month</string>
                <string>date_now</string>
                <string>date_quarter</string>
                <string>date_second</string>
                <string>date_subtract</string>
                <string>date_timestamp</string>
                <string>date_utctolocal</string>
                <string>date_year</string>
                <string>decode_rev</string>
                <string>degrees</string>
                <string>distance</string>
                <string>document</string>
                <string>edges</string>
                <string>encode_uri_component</string>
                <string>encode_uri_component</string>
                <string>exists</string>
                <string>exp</string>
                <string>exp2</string>
                <string>fail</string>
                <string>find_first</string>
                <string>find_last</string>
                <string>first_document</string>
                <string>first_list</string>
                <string>first</string>
                <string>flatten</string>
                <string>floor</string>
                <string>fnv64</string>
                <string>fulltext</string>
                <string>geo_area</string>
                <string>geo_contains</string>
                <string>geo_distance</string>
                <string>geo_equals</string>
                <string>geo_intersects</string>
                <string>geo_linestring</string>
                <string>geo_multilinestring</string>
                <string>geo_multipoint</string>
                <string>geo_point</string>
                <string>geo_polygon</string>
                <string>has</string>
                <string>hash</string>
                <string>in_range</string>
                <string>interleave</string>
                <string>intersection</string>
                <string>ipv4_from_number</string>
                <string>ipv4_to_number</string>
                <string>is_bool</string>
                <string>is_document</string>
                <string>is_in_polygon</string>
                <string>is_ipv4</string>
                <string>is_key</string>
                <string>is_key</string>
                <string>is_list</string>
                <string>is_null</string>
                <string>is_number</string>
                <string>is_same_collection</string>
                <string>is_string</string>
                <string>jaccard</string>
                <string>json_parse</string>
                <string>json_stringify</string>
                <string>keep</string>
                <string>last</string>
                <string>left</string>
                <string>length</string>
                <string>levenshtein_distance</string>
                <string>levenshtein_match</string>
                <string>like</string>
                <string>log</string>
                <string>log2</string>
                <string>log10</string>
                <string>lower</string>
                <string>ltrim</string>
                <string>matches</string>
                <string>max</string>
                <string>md5</string>
                <string>median</string>
                <string>merge_recursive</string>
                <string>merge</string>
                <string>min_match</string>
                <string>min</string>
                <string>near</string>
                <string>ngram_match</string>
                <string>ngram_positional_similarity</string>
                <string>ngram_similarity</string>
                <string>not_null</string>
                <string>nth</string>
                <string>outersection</string>
                <string>parse_identifier</string>
                <string>passthru</string>
                <string>paths</string>
                <string>phrase</string>
                <string>pi</string>
                <string>pop</string>
                <string>position</string>
                <string>pow</string>
                <string>product</string>
                <string>push</string>
                <string>radians</string>
                <string>rand</string>
                <string>random_token</string>
                <string>regex_matches</string>
                <string>regex_split</string>
                <string>regex_test</string>
                <string>remove_nth</string>
                <string>remove_value</string>
                <string>remove_values</string>
                <string>replace_nth</string>
                <string>reverse</string>
                <string>right</string>
                <string>round</string>
                <string>rtrim</string>
                <string>sha1</string>
                <string>shift</string>
                <string>sin</string>
                <string>sleep</string>
                <string>slice</string>
                <string>sorted_unique</string>
                <string>sorted_unique</string>
                <string>sorted</string>
                <string>sorted</string>
                <string>soundex</string>
                <string>soundex</string>
                <string>split</string>
                <string>sqrt</string>
                <string>starts_with</string>
                <string>stddev_population</string>
                <string>stddev_sample</string>
                <string>substitute</string>
                <string>substring</string>
                <string>sum</string>
                <string>tan</string>
                <string>to_base64</string>
                <string>to_bool</string>
                <string>to_hex</string>
                <string>to_hex</string>
                <string>to_list</string>
                <string>to_number</string>
                <string>to_string</string>
                <string>tokens</string>
                <string>translate</string>
                <string>traversal_tree</string>
                <string>traversal</string>
                <string>trim</string>
                <string>typename</string>
                <string>union_distinct</string>
                <string>union</string>
                <string>unique</string>
                <string>unset_recursive</string>
                <string>unset</string>
                <string>unshift</string>
                <string>upper</string>
                <string>uuid</string>
                <string>values</string>
                <string>variance_population</string>
                <string>variance_sample</string>
                <string>warn</string>
                <string>warn</string>
                <string>within_rectangle</string>
                <string>within</string>
                <string>zip</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
